# Basic dependencies
pandas
numpy
matplotlib
scipy
scikit-learn
nltk
joblib

# Google Cloud
google-cloud-storage

# API Libraries
openai
tweepy
yfinance

# Geospatial tools
shapely
geopandas

# NLP and Transformers
transformers
torch
unidecode

# Web scraping and requests
aiohttp
backoff
requests
